p{
    color: blue;
}
  h1.my-p-class {
    /*background color: yellow*/
    color: red;
    font-style: italic;
    padding-left: 100px;
  } 
  #container{
    background-color: lightblue;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
}
first div{
    background-color: lightseagreen;
    margin: 20px;
    padding: 20px;
    span{
        color: lightseagreen;
        background-color: pink;
    }
}