p{
    color: orange;
}
  h1.my-p-class {
    /*background color: yellow*/
    cplor: red;
    font style: italic;
    padding-left: 100px;
  } 
first div{
    background-color: green;

    span{
        color: purple;
        background-color: black;
    }